* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --color1: white;
    --color02: black;


    --primaryFont: "Nunito", sans-serif;
    --secondFont: "Roboto", sans-serif;
    --thirdFont: "Merriweather", sans-serif;
    --fourthFont: "Sorts Mill Goudy", sans-serif;
}