.backgroundHome {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/326598.jpg");
    background-size: cover;
}

.principalMenu {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.links {
    display: flex;
    gap: 40px;
    color: white;
    font-family: var(--secondFont);
    font-weight: 300;
    font-style: normal;
}


.link {
    all: unset;
    cursor: pointer;
    margin-top: 15px;

}

.logo1 {
    padding-right: 700px;
}

.logoInspire {
    width: 220px;
    height: 100px;
    margin-top: 15px;
    box-shadow: 10px 15px 20px black;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1PrincipalText {
    font-size: 80px;
    margin-top: 150px;
    margin-left: 50px;
    font-family: var(--thirdFont);
    font-weight: 300;
    font-style: italic;
    color: var(--color1);
}

/* .h3PrincipalText {
    margin-top: 100px;
    margin-left: 50px;
    font-family: var(--primaryFont);
    font-weight: 300;
    color: var(--color1);
} */

.whoWeAre {
    margin-bottom: 225px;
    margin-left: 130px;
    padding-right: 120px;
}

.aboutUs {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 40px;
    padding-top: 130px;
    padding-right: 100px;
    color: var(--color1);
    background-color: #505c45;
}

.titleAboutUs {
    padding-bottom: 25px;
    font-family: var(--thirdFont);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 10px;
}

.subtitleAboutUs {
    display: flex;
    width: 650px;
    height: 100px;
    font-family: var(--thirdFont);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-style: normal;
    letter-spacing: 0.5px;
}

.aboutUsPhoto {
    width: 400px;
    height: 600px;
    margin-right: 25px;
    margin-left: 25px;
}

.nameOfTheProfissional {
    display: flex;
    justify-content: center;
    font-family: var(--thirdFont);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.5px;
}

.textOfFormation {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 450px;
    font-family: var(--thirdFont);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.5px;
}

.ourServices {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
    background-color: #667558;

}

.servicesText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #E6D3B3;
    font-family: var(--thirdFont);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 10px;
}

.titleServices {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--thirdFont);
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 300;
    line-height: 1.5;
}

.subtitleServices {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fourthFont);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

}

.buttonServices {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    border-radius: 50px;
    color: #667558;
    background-color: #E6D3B3;
    margin-left: 200px;
}


.skinCleaningPhoto {
    width: 550px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2SkinCleaning {
    display: flex;
    justify-content: center;
    font-family: var(--thirdFont);
    font-weight: 400;
}

.h4SkinCleaning {
    display: flex;
    justify-content: center;
    font-family: var(--secondFont);
    font-weight: 300;
}

.hotStoneMassagePhoto {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.h2hotStoneMassagePhoto {
    display: flex;
    justify-content: center;
    font-family: var(--thirdFont);
    font-weight: 400;
}

.h3hotStoneMassagePhoto {
    display: flex;
    justify-content: center;
    font-family: var(--secondFont);
    font-weight: 300;
}

.pindasMassagePhoto {
    width: 550px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h2pindasMassage {
    display: flex;
    justify-content: center;
    font-family: var(--thirdFont);
    font-weight: 400;
}

.h3pindasMassage {
    display: flex;
    justify-content: center;
    font-family: var(--secondFont);
    font-weight: 300;
}

.contactUs {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #035158;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactInfo {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    width: 500px;
    height: 550px;
    background-color: Honeydew;
    margin-bottom: 100px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactPhone {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    gap: 10px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactNumber {
    display: flex;
    margin-left: 70px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactLocation {
    all: unset;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    gap: 10px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactAdress {
    display: flex;
    margin-left: 70px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactClock {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    gap: 10px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactHour {
    display: flex;
    margin-left: 70px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactEmail {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    gap: 10px;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.contactEmailAdress {
    display: flex;
    margin-left: 70px;
    font-family: "Nunito", serif;
    color: #3F3F55;

}

.textSocials {
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
    font-family: "Nunito", serif;
    color: #3F3F55;

}

.socials {
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    gap: 10px;
    cursor: pointer;
}

.boxInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 550px;
    gap: 20px;
    flex-direction: column;
    background-color: lightgray;
    font-family: "Nunito", serif;
}

.boxInfoName {
    all: unset;
    width: 450px;
    height: 40px;
    background-color: white;
    border: none;
    font-family: "Nunito", serif;
    color: #3F3F55;

}

.boxInfoTelephone {
    all: unset;
    width: 450px;
    height: 40px;
    background-color: white;
    border: none;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.boxInfoEmail {
    all: unset;
    width: 450px;
    height: 40px;
    background-color: white;
    border: none;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.boxInfoMessage {
    all: unset;
    width: 450px;
    height: 200px;
    background-color: white;
    border: none;
    font-family: "Nunito", serif;
    color: #3F3F55;
}

.buttonBoxInfo {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    height: 44px;
    background-color: #035158;
    border-radius: 50px;
    font-family: "Nunito", serif;
    color: white;

}

.buttonsSocials {
    all: unset;
}