.backgroundMassages {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.logoInspiree {
    width: 220px;
    height: 100px;
    margin-top: 15px;
}

.linkRetorno {
    all: unset;
    margin-top: 40px;
    font-family: var(--thirdFont);
    font-weight: 200;
    font-style: normal;
    color: #000;
}

.firstLine,
.secondLine,
.thirdLine {
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    justify-content: center;
    margin-bottom: 50px;
}

.service {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.titleMassage {
    font-family: var(--thirdFont);
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
}

.line {
    margin-bottom: 30px;
}

.subtitleMassage {
    max-width: 500px;
    font-family: var(--thirdFont);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.benefits {
    font-family: var(--thirdFont);
    font-weight: 300;
    line-height: 1.5;
}

.buttonMassage {
    all: unset;
    cursor: pointer;
    width: 180px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--thirdFont);
    font-size: 16px;
    margin-top: 20px;
    color: white;
    background-color: #000;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.buttonMassage:hover {
    background-color: #505C45;
}

@media (max-width: 768px) {
    .service {
        margin-left: 20px;
        margin-right: 20px;
    }

    .subtitleMassage,
    .titleMassage {
        max-width: 100%;
        width: auto;
        font-size: 18px;
    }

    .logoInspiree {
        width: 150px;
        height: auto;
    }

    .firstLine,
    .secondLine,
    .thirdLine {
        flex-direction: column;
        align-items: center;
    }
}